{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
    <h2>{{ title }}</h2>

    <style>
        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }
    </style>

    {% for list in Listing %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                {% if list.link %}
                                    <img class="" src={{ list.link }} alt={{ list.title }} width="150px">
                                {% else %}
                                    <p> no image </p>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"> <a href="{% url 'listing_page' list.id %}" class="stretched-link">{{ list.title }}</a> </h4>
                                <p class="card-text">Price: ${{ list.startingprice }}</p>
                                <p class="card-text">Description: {{ list.description }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">created {{ list.time }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}