{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ name }}</h2>
    {% if watchlist %}
        <span class="badge text-badge-danger" style="background-color: grey; color: white;" > Watchlist </span>
    {% endif %}
    
    <div>
        {% if url %}
        <img style="height:400px;" src={{ url }} alt={{ name }} >
        {% else %}
            <p> no image </p>
        {% endif %}
    </div>
    <div style="padding-left:5px;" >
        <p> {{ description }} </p>
        <p> Price: ${{ price }} </p>
        <small class="text-muted">2 bid(s) so far your bid is the current bid.</small>
    </div>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Bid">
        </div>
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
    <br>
    <div>
        <h3>Details</h3>
        <ul>
            <li> Listed by : {{ created }}</li>
            {% if category %}
                <li> Category : {{ category }} </li>
            {% else %}
                <li> Category : None </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}